<div class="row" *ngIf="restaurant && restaurant.name">
  <div class="col-12 col-md-6">
    <h3 class="h3-responsive">
      About {{restaurant.name}}
    </h3>
    <div>
      <sebm-google-map #gmap [latitude]="shop_lat" [longitude]="shop_lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
        (mapClick)="mapClicked($event)">
        <sebm-google-map-marker [latitude]="shop_lat" [longitude]="shop_lng" [markerDraggable]="false">
          <sebm-google-map-info-window>
            <strong>{{restaurant.name}}</strong>
            <p>
              {{restaurant.address}}
            </p>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
      </sebm-google-map>
      <p class="mt-1">
        <i class="fa fa-map-marker"></i>&nbsp;{{restaurant.address}}
      </p>
      <!--<p>
        Distance in km from the user's location
      </p>-->
      <p><i class="fa fa-mobile"></i>&nbsp;{{restaurant.phone}}</p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <table class="table table-responsive" *ngIf="restaurant.hasTimingTable()">
      <thead>
        <tr>
          <th>Hours</th>
          <th>
            <span class="badge green" *ngIf="!restaurant.isHoliday() && restaurant.isOpen()">Open</span>
            <span class="badge red" *ngIf="!restaurant.isHoliday() && restaurant.isClosed()">Closed</span>
          </th>
        </tr>
        <tbody>
          <tr *ngFor="let x of restaurant.timings_table">
            <td>{{x.getDay()}}</td>
            <td>{{x.getFormattedTime()}}</td>
          </tr>
        </tbody>
    </table>
    <div *ngIf="!restaurant.hasTimingTable()">
      <h5 class="h5-responsive">Store Hours</h5>
      <p>*Open all day from {{restaurant.getTodayStoreTimings().getFormattedTime()}}</p>
    </div>
    <label *ngIf="restaurant.holidays.length>0">Holidays: </label>
    <div class="holidays clip" *ngIf="restaurant.holidays.length>0">
      {{restaurant.holidays.join(', ')}}
    </div>
  </div>
</div>
