<footer class="page-footer fb-color bg-primary center-on-small-only">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5 class="title">Contact Us</h5>
        <p>
          Call: +91 7373730484 <br/> Email: foodbeazt@gmail.com
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="title">Useful links</h5>
        <ul>
          <li><a routerLink="/restaurants">Browse restaurants</a></li>
          <li><a routerLink="/track">Track your order</a></li>
          <li><a routerLink="/faq">Frequently Asked Questions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="title">Get social with Us</h5>
        <span>
        <a href="#!"><i class="fa fa-facebook fa-2x"></i></a>
        </span>
        <span>
        <a href="#!"><i class="fa fa-twitter fa-2x"></i></a>
        </span>
        <span>
        <a href="#!"><i class="fa fa-google fa-2x"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 <a href="https://www.foodbeazt.in"> www.foodbeazt.in </a>
    </div>
  </div>
</footer>
