<section class="row" *ngIf="isRequesting">
  <div class="col-12">
    <app-my-spinner [isRunning]="isRequesting" [message]="'Processing your order...Please wait'">
    </app-my-spinner>
  </div>
</section>
<section class="checkout__page container" *ngIf="!isRequesting">
  <section class="row">
    <div class="col-12">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a routerLink="/home">Home</a></li>
          <li>
            <span class="show-for-sr">Current:</span>Checkout
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="row">
    <div class="col-md-12 col-12">
      <div class="callout primary" *ngIf="isEmpty()">
        <h3>Oops!</h3>
        <p>Kindly add dishes to the cart to checkout.</p>
      </div>
      <div class="callout alert" *ngIf="error != null">
        <h3>Oops!</h3>
        <p>{{error}}</p>
      </div>
    </div>
  </section>
  <section *ngIf="!isEmpty()">
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="completed">
        <a (click)="nextStep('review')">
          <span class="circle">1</span>
          <span class="label">Review</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="" [class.active]="order.isValid()">
        <a (click)="nextStep('delivery')" [class.disabled]="!order.isValid()">
          <span class="circle">2</span>
          <span class="label">Delivery details</span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="" [class.active]="order.isValid() && order.hasDeliveryDetails()">
        <a (click)="nextStep('payment')" [class.disabled]="!order.isValid()">
          <span class="circle">3</span>
          <span class="label">Payment</span>
        </a>
      </li>

    </ul>

    <div class="callout alert" *ngIf="!order.isValid()">
      <p>There are some dishes that are presently became unavailable. Kindly remove them to proceed. This may occur if you have
        added the dish while the store was open but before completing the checkout process.</p>
      <p>For assistance or any queries, kindly call us on +91 7373730484</p>
    </div>

    <div class="step-content" *ngIf="step==='review'">
      <app-review [order]="order"></app-review>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-default waves-effect" [disabled]="!order.isValid()" (click)="step='delivery'">Next</button>
      </div>
    </div>

    <div class="step-content" *ngIf="step==='delivery'">
      <app-delivery-detail [order]="order" (nextStepSource)="step=$event"></app-delivery-detail>
    </div>

    <div class="step-content" *ngIf="step==='payment'">
      <app-payment [order]="order"></app-payment>
      <div class="align-center">
        <button type="button" (click)="resetOrder()" class="btn-flat waves-effect">Cancel</button>
        <button type="button" (click)="confirmOrder()" class="btn btn-primary waves-effect waves-light">
          Confirm
        </button>
      </div>
    </div>
  </section>
</section>
