<section class="my__orders__page container-fluid">
  <app-my-spinner [isRunning]="isRequesting" [message]="'Looking for your orders...Please wait'">
  </app-my-spinner>
  <div class="row pt-1">
    <div class="col-12">
      <h2 class="h2-responsive">My Orders</h2>
      <div class="callout alert" *ngIf="errorMsg">
        <h4 class="h4-responsive">Oops! Something went wrong.</h4>
        {{errorMsg}}
      </div>
      <div class="callout alert" *ngIf="orders.length == 0 && !isRequesting && !errorMsg">
        Oops! You have not made any orders :(
      </div>
    </div>
  </div>
  <div class="content__container" *ngIf="!isRequesting && orders.length > 0">
    <div class="medium-12 columns">
      <table class="table my__orders__tbl">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>#no</th>
            <th>Dishes</th>
            <th>Payment</th>
            <th class="text-right">Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <template ngFor let-order [ngForOf]="orders">
            <tr (click)="toggleOrderDetails(order)">
              <td>
                <i (click)="toggleOrderDetails(order)" class="fa" [class.fa-caret-right]="!canShowOrderDetails(order)" [class.fa-caret-down]="canShowOrderDetails(order)">
                </i>
              </td>
              <td>{{order.created_at|datetime}}</td>
              <td>{{order.order_no}}</td>
              <td>{{order.items.length}}</td>
              <td>
                <span *ngIf="order.payment_type==='cod'">COD</span>
                <span *ngIf="order.payment_type==='payumoney'">Online</span>
              </td>
              <td class="text-right"><i class="rupee"></i>{{order.total}}</td>
              <td>{{order.status}}</td>
            </tr>
            <tr *ngIf="canShowOrderDetails(order)" class="child__row__detail">
              <td colspan="7">
                <div class="row">
                  <div class="medium-6 columns">
                    <table class="table order_table">
                      <tbody>
                        <tr *ngFor="let item of order.getItems()">
                          <td>
                            <div class="product_name">
                              {{item.name}} <br/>
                              <!--<span class="store_name light"><i>from</i> {{item.store.name}}</span>-->
                            </div>
                          </td>
                          <td class="quantity">
                            {{item.quantity}}
                          </td>
                          <td class="price">{{item.getTotalPrice()}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2">
                            Subtotal:
                          </td>
                          <td class="total">{{order.getSubTotal()}}</td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            Delivery Charges:
                          </td>
                          <td class="total">{{order.delivery_charges}}</td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            Total:
                          </td>
                          <td class="total rupee">{{order.total}}</td>
                        </tr>
                      </tfoot>
                    </table>
                    <span *ngIf="order.payment_type==='payumoney'">
                      Payment Status: {{order.payment_status.toUpperCase()}}
                    </span>
                  </div>
                  <div class="medium-6 columns end">
                    <h4>Delivery details</h4>
                    <p>
                      Address: {{order.delivery_details.address}}<br/> Pincode: {{order.delivery_details.pincode}}<br/> Landmark:
                      {{order.delivery_details.landmark}}
                      <br/> Phone: {{order.delivery_details.phone}}<br/> Email: {{order.delivery_details.email}}<br/>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div *ngIf="responseData.total > 0" class="pagination__container">
        <div class="pagination previous" [class.disabled]="!responseData.previous">
          <a (click)="responseData.previous && search(responseData.previous)">
            <i class="fa fa-angle-left"></i>
          </a>
        </div>
        <div class="pagination next" [class.disabled]="!responseData.next">
          <a (click)="responseData.next && search(responseData.next)">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
