<div class="d-flex w-100 justify-content-between">
  <div *ngIf="product.hasPriceTable()">
    <select [(ngModel)]="selection" (ngModelChange)="onChange($event)">
      <option *ngFor="let item of product.price_table" [ngValue]="item">
        {{item.description}}
      </option>
    </select>
    <strong class="price_tag rupee light" [innerHTML]="selection.getFormattedPrice()"></strong>
  </div>
  <div *ngIf="!product.hasPriceTable()">
    <strong class="price_tag rupee light" [innerHTML]="product.getFormattedPrice()"></strong>
  </div>
  <a (click)="select(product)" class="padd blue-grey-text" [class.active]="isInCart(product)" [class.disabled]="!product.isAvailable()">
    <i class="fa fa-shopping-cart fa-lg"></i>
  </a>
</div>
