<section class="row">
  <div class="col-12">
    <h5 class="h5-responsive font-weight-bold">
      <!--<i class="fa fa-truck"></i> -->
      Delivery Details
    </h5>
    <div class="callout info">
      Kindly ensure that you have given correct delivery address with postbox number, floor number, mobile number and pincode.
      Unless you receive an email or SMS or a phone call from us, <i>Your order will not be processed.</i>
    </div>
    <div class="mt-2 animated fadeIn" *ngIf="editAddress">
      <div class="md-form">
        <input type="text" class="form-control " maxlength="50" name="name" #name="ngModel" [(ngModel)]="order.delivery_details.name"
          required minlength="3" />
        <label for="name" data-error="Should be minimum 3 letters" [class.active]="order.delivery_details.name">Name</label>
      </div>
      <div class="md-form">
        <input type="text" class="form-control " maxlength="10" minlength="10" name="phone" #phone="ngModel" [(ngModel)]="order.delivery_details.phone"
          required/>
        <label for="phone" data-error="Should be 10 digits without leading zero or country code" [class.active]="order.delivery_details.phone">Mobile</label>
      </div>
      <div class="md-form">
        <input type="email" class="form-control " maxlength="200" minlength="3" name="email" #email="ngModel" [(ngModel)]="order.delivery_details.email"
          required/>
        <label data-error="Invalid email address." for="email" [class.active]="order.delivery_details.email">Email</label>
      </div>
      <div class="md-form">
        <input type="text" class="form-control" maxlength="6" minlength="6" name="pincode" #pincode="ngModel" [(ngModel)]="order.delivery_details.pincode"
          required/>
        <label for="pincode" data-error="Should be 6 digits" [class.active]="order.delivery_details.pincode">Pincode</label>
      </div>
      <div class="md-form">
        <textarea maxlength="500" class="md-textarea " minlength="5" name="address" #address="ngModel" [(ngModel)]="order.delivery_details.address"
          required></textarea>
        <label for="address" data-error="Should be minimum 5 letters" [class.active]="order.delivery_details.address">Address</label>
      </div>
      <div class="md-form">
        <input type="text" class="form-control " minlength="3" maxlength="50" name="landmark" #landmark="ngModel" [(ngModel)]="order.delivery_details.landmark"
        />
        <label for="landmark" data-error="Should be minimum 3 letters" [class.active]="order.delivery_details.landmark">Nearby landmark</label>
      </div>
      <fieldset class="form-group">
        <input type="checkbox" id="speed_checkout" name="speed_checkout" [(ngModel)]="speedCheckout" />
        <label for="speed_checkout">
          Save this address for later?
        </label>
      </fieldset>
    </div>
    <div class="mt-1 animated fadeIn" *ngIf="!editAddress">
      <h6 class="h6-responsive font-weight-bold">
        Deliver to
      </h6>
      <a href="#" (click)="editAddress=true;false;"><small>Modify address</small></a>
      <p>
        {{order.delivery_details.name}}
        <br/> {{order.delivery_details.address}}
        <br/> {{order.delivery_details.landmark}}
        <br/> {{order.delivery_details.pincode}}
        <br/>
        <i class="fa fa-phone"></i> {{order.delivery_details.phone}}<br/>
        <i class="fa fa-email"></i> {{order.delivery_details.email}}<br/>
      </p>
    </div>
  </div>
</section>
