/* YOUR CUSTOM STYLES */
.rupee:before{
  content: '\20B9';
}

.double-nav .nav-link span{
  font-size: 15px;
}

.restaurants .store-img {
  max-height: 150px;
  width: 130px;
}

.navbar-brand {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: 28px;
  padding: 0;
  margin-right: 2rem;
}

.pagination .page-item {
  background: #f3f3f3;
  border: 1px solid #e1e1e1;
  color: #46535e;
  border-radius: 20px;
  margin-left: 0;
}

.pagination .page-item a {
  background: transparent!important;
}

.page-item.next{
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.page-item.previous{
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.section-blog-fw .jumbotron {
  margin: 0;
  /*margin-top: -20px;*/
  /*text-align: center;*/
  /*z-index: 50;*/
  /*position: relative;*/
  /*margin-left: 3%;*/
  /*margin-right: 3%;*/
}

.header_img {
  max-height: 130px;
}

.chip {
  display: inline-block;
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 0 12px;
  border-radius: 16px;
  background-color: #eceff1;
  margin-bottom: 1rem;
  margin-right: 1rem;
  line-height: 32px;
  height: 32px;
  font-weight: 500;
}

.classic-tabs {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255,255,255,.7);
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
}

.classic-tabs li a.active {
    border-bottom: 3px solid #ffeb3b;
    color: #fff;
}

.classic-tabs.tabs-cyan li a.active {
    border-color: #ffeb3b;
}

.classic-tabs.tabs-cyan {
    background-color: #00bcd4;
}

@media only screen and (max-width: 768px){
  .section-blog-fw .jumbotron {
    padding: 0;
  }
  .classic-tabs {
      overflow-x: hidden;
  }
  .img-fluid{
    margin: 0 auto;
  }
}

.tab-content>.tab-pane {
  padding: 1.3rem;
}

.products .card-title{
  font-weight: 300;
}

.products p.card-text {
  margin-bottom: 1rem;
}

.products .incart-items p.card-text{
  margin-bottom: 0.25rem!important;
}

.products .card .card-footer {
    background-color: transparent;
    padding: .75rem .5rem 0;
    font-size: 1.2rem;
}

.strike{
  text-decoration: line-through;
  font-size: 12px;
}

.product-item .padd {
    color: #9e9e9e;
    margin-left: 1rem;
    transition: .4s;
}

.product-item .padd.active {
    color: #d50000!important;
    /*color: #3f51b5!important*/
}

.product-item .padd.disabled {
    color: #eee!important;
}

.list-footer {
  border-top: 1px solid #eee;
  margin-top: 0.25rem;
}
