/* YOUR CUSTOM STYLES */
.rupee:before{
  content: '\20B9';
}

.btn.btn-stc {
    background: #0e3d67;
}

.btn.btn-stc:hover {
    background-color: #114a7d!important;
}

.double-nav .nav-link span{
  font-size: 15px;
}

.restaurants .store-img {
  max-height: 150px;
  width: 130px;
}

.navbar-brand {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: 28px;
  padding: 0;
  margin-right: 2rem;
}

.pagination .page-item {
  background: #f3f3f3;
  border: 1px solid #e1e1e1;
  color: #46535e;
  border-radius: 20px;
  margin-left: 0;
}

.pagination .page-item a {
  background: transparent!important;
}

.page-item.next{
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.page-item.previous{
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.section-blog-fw .jumbotron {
  margin: 0;
  padding: 1.25rem;
  /*margin-top: -20px;*/
  /*text-align: center;*/
  /*z-index: 50;*/
  /*position: relative;*/
  /*margin-left: 3%;*/
  /*margin-right: 3%;*/
}
label[for=cart-summary]{
  margin-bottom: 0;
}
label[for=cart-summary] .rupee{
  font-weight: 500;
  vertical-align: text-top;
}
label[for=cart-summary] .badge{
  line-height: 1.2em;
  font-style: normal;
  top: -10px;
  position: relative;
  min-width: 1.6em;
  left: -6px;
  border-radius: 50%;
}

.header_img {
  max-height: 130px;
}

.chip {
  display: inline-block;
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 0 12px;
  border-radius: 16px;
  background-color: #eceff1;
  margin-bottom: 1rem;
  margin-right: 1rem;
  line-height: 32px;
  height: 32px;
  font-weight: 500;
}

.hidden{
  display: none;
  height: 0;
}

/*.form-control {
  padding: .5rem 0 0.35rem;
  line-height: 1;
  height: auto!important;
}*/

.callout {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.callout.info{
  border: 1px solid #0275d8;
}

.callout.alert{
  border: 1px solid #C00;
}

.callout.warning{
  background-color: rgba(240, 173, 78, 0.6);;
  border: 1px solid #f0ad4e;
}

.callout.success{
    background-color: rgba(92, 184, 92, 0.6);
    border: 1px solid #5cb85c;
}

.callout.primary{
  color: white;
  background: #0275d8;
  opacity: 0.79;
}

.classic-tabs {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255,255,255,.7);
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
}

.classic-tabs li a.active {
    border-bottom: 3px solid #ffeb3b;
    color: #fff;
}

.classic-tabs.tabs-cyan li a.active {
    border-color: #ffeb3b;
}

.classic-tabs.tabs-cyan {
    background-color: #00bcd4;
}

.classic-tabs.tabs-stc {
    background: #0e3d67;
}
.classic-tabs.tabs-stc li a.active{
    background: #0e3d67;
}

@media only screen and (max-width: 768px){
  .section-blog-fw .jumbotron {
    padding: 0;
  }
  .classic-tabs {
      overflow-x: hidden;
  }
  .img-fluid{
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
    .navbar .nav-item .nav-link {
        padding-left: 6px;
        padding-right: 6px;
    }
}
.nav-flex-icons{
    height:37px;
}
.nav-link {
    display: block;
    padding: .5em 1em;
}

.navbar .nav-item .nav-link .fa {
    padding-left: 3px;
    padding-right: 3px;
}

.double-nav .nav-item .nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.tab-content>.tab-pane {
  padding: 1.3rem;
}

.products .card-title{
  font-weight: 300;
}

.products p.card-text {
  margin-bottom: 1rem;
}

.products .incart-items p.card-text{
  margin-bottom: 0.25rem!important;
}

.products .card .card-footer {
    background-color: transparent;
    padding: .75rem .5rem 0;
    font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.strong {
  font-weight: bolder;
}

.strike{
  text-decoration: line-through;
  font-size: 12px;
}

.text-no-wrap {
    white-space: nowrap;
}

.product-item {
  margin-bottom: 0.25rem;
}

.product-item .list-group-item-action{
  cursor: pointer;
}

.product-item .padd {
    color: #9e9e9e;
    margin-left: 1rem;
    transition: .4s;
}

.product-item .padd.active {
    /*color: #d50000!important;*/
    color: #3f51b5!important
}

.product-item .padd.disabled {
    color: #eee!important;
}

.list-footer {
  border-top: 1px solid #eee;
  margin-top: 0.25rem;
}

.order-summary{
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 70px 0rem 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  background: #ffffff;
  font-size: 14px;
  font-weight: normal;
}

.store_name{
  font-weight: lighter;
}

.restaurants__filter{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 70px 0.7rem 0;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}

.restaurants__filter label {
  display: block;
  font-size: 1rem;
  margin: 0.15rem;
}

footer.page-footer{
  z-index: 50;
  position: relative;
  margin-top: 0;
}

.page-footer a:hover{
  text-decoration: underline;
}

.table__wrapper{
  min-height: 40%;
  max-height: 60%;
  overflow: scroll;
}

.back-link{
  text-decoration: underline;
  white-space: nowrap;
  z-index: 20;
  display: block;
}

.stepper li >a {
    padding: 24px;
    font-size: 14px;
}

.stepper li a .circle {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    background: rgba(0,0,0,.38);
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
}

.stepper li.active a .circle {
    background-color: #4285F4;
}

.stepper li a .label {
    display: inline-block;
    color: rgba(0,0,0,.38);
}

.stepper li.active >a .label {
    font-weight: 600;
    color: rgba(0,0,0,.87);
}

.stepper li.completed >a .label {
  font-weight: 600;
  color: #00C851;
}

.stepper li.completed a .circle{
  background-color: #00C851;
}

.stepper-vertical,.stepper-vertical li {
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
}

.stepper-vertical {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepper-vertical li {
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.stepper-vertical li >a {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.stepper-vertical li >a .circle {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.stepper-vertical li >a .label {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.stepper-vertical li.completed >a .label {
    font-weight: 500;
}

.stepper-vertical li .step-content {
    display: block;
    margin-top: 0;
    margin-left: 50px;
    padding: 15px;
}

.stepper-vertical li .step-content p {
    font-size: .875rem;
}

.stepper-vertical li:not(:last-child):after {
    content: " ";
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    left: 35px;
    top: 55px;
    background-color: rgba(0,0,0,.1);
}


.stepper-horizontal {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.stepper-horizontal li {
    transition: .5s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.stepper-vertical,.stepper-vertical li {
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative
}

.stepper-horizontal li a .label {
    margin-top: 10px
}

.stepper-horizontal li:not(:first-child):before,.stepper-horizontal li:not(:last-child):after {
    content: '';
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 8px 0 0;
    height: 1px;
    background-color: rgba(0,0,0,.1)
}

.stepper-horizontal li:hover {
    background: #ddd
}

.btn-flat {
    position: relative;
    padding: 8px 30px;
    border: none;
    margin: 10px;
    text-decoration: none;
    outline: 0!important;
}

.btn-flat, .btn-flat:focus {
    background-color: transparent;
}

.btn, .btn-flat, .classic-tabs li a, footer.page-footer .title {
    text-transform: uppercase;
}

.md-form label {
  width: 100%;
}


input[type=date].ng-touched.ng-valid,input[type=date]:focus.ng-touched.ng-valid,input[type=datetime-local].ng-touched.ng-valid,input[type=datetime-local]:focus.ng-touched.ng-valid,input[type=email].ng-touched.ng-valid,input[type=email]:focus.ng-touched.ng-valid,input[type=number].ng-touched.ng-valid,input[type=number]:focus.ng-touched.ng-valid,input[type=password].ng-touched.ng-valid,input[type=password]:focus.ng-touched.ng-valid,input[type=search-md].ng-touched.ng-valid,input[type=search-md]:focus.ng-touched.ng-valid,input[type=search].ng-touched.ng-valid,input[type=search]:focus.ng-touched.ng-valid,input[type=tel].ng-touched.ng-valid,input[type=tel]:focus.ng-touched.ng-valid,input[type=text].ng-touched.ng-valid,input[type=text]:focus.ng-touched.ng-valid,input[type=time].ng-touched.ng-valid,input[type=time]:focus.ng-touched.ng-valid,input[type=url].ng-touched.ng-valid,input[type=url]:focus.ng-touched.ng-valid,textarea.md-textarea.ng-touched.ng-valid,textarea.md-textarea:focus.ng-touched.ng-valid {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851
}

input[type=date].ng-touched.ng-valid+label.active:after,input[type=date]:focus.ng-touched.ng-valid+label.active:after,input[type=datetime-local].ng-touched.ng-valid+label.active:after,input[type=datetime-local]:focus.ng-touched.ng-valid+label.active:after,input[type=email].ng-touched.ng-valid+label.active:after,input[type=email]:focus.ng-touched.ng-valid+label.active:after,input[type=number].ng-touched.ng-valid+label.active:after,input[type=number]:focus.ng-touched.ng-valid+label.active:after,input[type=password].ng-touched.ng-valid+label.active:after,input[type=password]:focus.ng-touched.ng-valid+label.active:after,input[type=search-md].ng-touched.ng-valid+label.active:after,input[type=search-md]:focus.ng-touched.ng-valid+label.active:after,input[type=search].ng-touched.ng-valid+label.active:after,input[type=search]:focus.ng-touched.ng-valid+label.active:after,input[type=tel].ng-touched.ng-valid+label.active:after,input[type=tel]:focus.ng-touched.ng-valid+label.active:after,input[type=text].ng-touched.ng-valid+label.active:after,input[type=text]:focus.ng-touched.ng-valid+label.active:after,input[type=time].ng-touched.ng-valid+label.active:after,input[type=time]:focus.ng-touched.ng-valid+label.active:after,input[type=url].ng-touched.ng-valid+label.active:after,input[type=url]:focus.ng-touched.ng-valid+label.active:after,textarea.md-textarea.ng-touched.ng-valid+label.active:after,textarea.md-textarea:focus.ng-touched.ng-valid+label.active:after {
    content: attr(data-success);
    color: #00C851;
    opacity: 1
}

input[type=date].ng-touched.ng-invalid,input[type=date]:focus.ng-touched.ng-invalid,input[type=datetime-local].ng-touched.ng-invalid,input[type=datetime-local]:focus.ng-touched.ng-invalid,input[type=email].ng-touched.ng-invalid,input[type=email]:focus.ng-touched.ng-invalid,input[type=number].ng-touched.ng-invalid,input[type=number]:focus.ng-touched.ng-invalid,input[type=password].ng-touched.ng-invalid,input[type=password]:focus.ng-touched.ng-invalid,input[type=search-md].ng-touched.ng-invalid,input[type=search-md]:focus.ng-touched.ng-invalid,input[type=search].ng-touched.ng-invalid,input[type=search]:focus.ng-touched.ng-invalid,input[type=tel].ng-touched.ng-invalid,input[type=tel]:focus.ng-touched.ng-invalid,input[type=text].ng-touched.ng-invalid,input[type=text]:focus.ng-touched.ng-invalid,input[type=time].ng-touched.ng-invalid,input[type=time]:focus.ng-touched.ng-invalid,input[type=url].ng-touched.ng-invalid,input[type=url]:focus.ng-touched.ng-invalid,textarea.md-textarea.ng-touched.ng-invalid,textarea.md-textarea:focus.ng-touched.ng-invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336
}

input[type=date].ng-touched.ng-invalid+label.active:after,input[type=date]:focus.ng-touched.ng-invalid+label.active:after,input[type=datetime-local].ng-touched.ng-invalid+label.active:after,input[type=datetime-local]:focus.ng-touched.ng-invalid+label.active:after,input[type=email].ng-touched.ng-invalid+label.active:after,input[type=email]:focus.ng-touched.ng-invalid+label.active:after,input[type=number].ng-touched.ng-invalid+label.active:after,input[type=number]:focus.ng-touched.ng-invalid+label.active:after,input[type=password].ng-touched.ng-invalid+label.active:after,input[type=password]:focus.ng-touched.ng-invalid+label.active:after,input[type=search-md].ng-touched.ng-invalid+label.active:after,input[type=search-md]:focus.ng-touched.ng-invalid+label.active:after,input[type=search].ng-touched.ng-invalid+label.active:after,input[type=search]:focus.ng-touched.ng-invalid+label.active:after,input[type=tel].ng-touched.ng-invalid+label.active:after,input[type=tel]:focus.ng-touched.ng-invalid+label.active:after,input[type=text].ng-touched.ng-invalid+label.active:after,input[type=text]:focus.ng-touched.ng-invalid+label.active:after,input[type=time].ng-touched.ng-invalid+label.active:after,input[type=time]:focus.ng-touched.ng-invalid+label.active:after,input[type=url].ng-touched.ng-invalid+label.active:after,input[type=url]:focus.ng-touched.ng-invalid+label.active:after,textarea.md-textarea.ng-touched.ng-invalid+label.active:after,textarea.md-textarea:focus.ng-touched.ng-invalid+label.active:after {
    content: attr(data-error);
    color: #F44336;
    opacity: 1
}

.progress {
    box-shadow: none;
    width: 100%;
    height: 4px;
    margin-bottom: 1rem;
    background-color: #eee;
    position: relative;
    display: block;
    overflow: hidden
}

.progress .progress-bar {
    box-shadow: none;
    height: 4px;
    border-radius: 0;
    background-color: #0d47a1;
}

.progress .indeterminate {
    background-color: #90caf9;
}

.progress .indeterminate:after,.progress .indeterminate:before {
    position: absolute;
    background-color: inherit;
    left: 0;
    will-change: left,right;
    bottom: 0;
    top: 0;
    content: ''
}

.progress .indeterminate:before {
    -webkit-animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
    -moz-animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
    -ms-animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
    -o-animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(.65,.815,.735,.395) infinite
}

.progress .indeterminate:after {
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
    -moz-animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
    -ms-animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
    -o-animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(.165,.84,.44,1) infinite;
    -webkit-animation-delay: 1.15s;
    -moz-animation-delay: 1.15s;
    -ms-animation-delay: 1.15s;
    -o-animation-delay: 1.15s;
    animation-delay: 1.15s
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    100%,60% {
        left: 100%;
        right: -90%
    }
}

@-moz-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    100%,60% {
        left: 100%;
        right: -90%
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%
    }

    100%,60% {
        left: 100%;
        right: -90%
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    100%,60% {
        left: 107%;
        right: -8%
    }
}

@-moz-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    100%,60% {
        left: 107%;
        right: -8%
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }

    100%,60% {
        left: 107%;
        right: -8%
    }
}


.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px
}

.preloader-wrapper.small {
    width: 36px;
    height: 36px
}

.preloader-wrapper.big {
    width: 64px;
    height: 64px
}

.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}

.small{
    font-size: 70%;
}

.product-card img{
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.product-card.min-height{
    min-height: 380px;
}

.card .card-footer .left {
    float: left;
}

.card .card-footer .right {
    float: right;
}

.card .card-footer {
    background-color: inherit;
    padding: 0.75rem 0 0 0;
}

.discount {
    text-decoration: line-through;
    color: #9e9e9e;
    font-size: 1.1rem;
}
