<div class="callout warning" *ngIf="products == null || products.length == 0">
	<h3>Oops! No dishes found</h3>
	<p>You might have misspelled or try again!</p>
</div>
<div class="row">
	<div class="col-md-3 col-12 mb-1" *ngFor="let product of products;">
		<div class="card card-cascade min-height product-card">
			<div class="view overlay hm-white-slight">
				<img src="{{product.getImage() || '/assets/img/placeholder.png'}}" class="img-fluid" alt="" />
				<a>
					<div class="mask waves-effect waves-light"></div>
				</a>
			</div>
			<div class="card-block text-center">
				<i class="veg__icon" [class.green]="product.isVeg()" [class.brown]="!product.isVeg()"></i>
				<ul class="cuisines text-muted mb-0">
					<li *ngFor="let cus of product.cuisines">
						<span class="cusines">{{cus}}</span>
					</li>
				</ul>
				<h4 class="card-title">
					<i class="fa fa-check green-text" title="Incart" *ngIf="getQuantity(product)>0"></i>
					<strong>{{product.name}}</strong>
				</h4>
				<!--<p class="light show-for-medium description"><i>{{product.description}}</i></p>-->
				<app-price-table [product]="product" (selectedProduct)="select($event)"></app-price-table>
				<div class="row list-footer no-gutters incart-items" *ngIf="getFilteredPriceTable(product).length > 0">
          <div class="col-12 col-md-6" *ngFor="let pd of getFilteredPriceTable(product)">
            <p class="card-text">
              <i class="fa fa-check green-text"></i>
              <small>{{getQuantity(product,pd)}}x</small>&nbsp;{{pd.description}}&nbsp;<small class="rupee">({{pd.getDiscountedPrice()}})</small>
            </p>
          </div>
        </div>
				<div class="small card-text text-muted mt-1" *ngIf="!product.isAvailable()">
					<span *ngIf="product.isOpen()">Currently unavailable. Try again later!</span>
					<span *ngIf="!product.isOpen()">Available from {{product.getFormattedAvailableTimings()}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
