<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-3 col-sm">
      <div class="card card-block blue-grey lighten-5">
        <h4 class="card-title">Filter
          <small><a href="" class="clear-filter" (click)="clearFilter()">clear all</a></small>
        </h4>
        <strong>Cuisine</strong>
        <div class="card-text mb-1">
          <div class=""> <input type="checkbox" name="south_indian" /> South Indian</div>
          <div class=""> <input type="checkbox" name="multicuisine" /> Multicuisine</div>
          <div class=""> <input type="checkbox" name="sandwiches" /> Sandwiches</div>
          <div class=""> <input type="checkbox" name="briyani" /> Briyani</div>
          <div class=""> <input type="checkbox" name="pizza" /> Pizza </div>
          <div class=""> <input type="checkbox" name="icecreams" /> Ice Creams </div>
          <div class=""> <input type="checkbox" name="deserts" /> Deserts </div>
          <div class=""> <input type="checkbox" name="italian" /> Italian </div>
        </div>
        <strong>Feature</strong>
        <div class="card-text mb-1">
          <div class=""> <input type="checkbox" name="open_now" /> Open Now </div>
          <div class=""> <input type="checkbox" name="pure_veg" /> Pure Veg </div>
          <div class=""> <input type="checkbox" name="new" /> New </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <h2 class="h2-responsive">Restaurants</h2>
        </div>
        <div class="col-md-2 end">
          <small>Sort By:</small>
        </div>
      </div>
      <section class="row" *ngIf="isRequesting">
        <div class="col">
          <app-my-spinner [isRunning]="isRequesting"></app-my-spinner>
        </div>
      </section>
      <section class="row" *ngIf="!isRequesting">
        <div class="col">
          <app-restaurant [responseData]="responseData" [isRequesting]="isRequesting" (onPaginate)="search($event)"></app-restaurant>
        </div>
      </section>
    </div>
  </div>
</div>
