<div class="callout warning" *ngIf="isEmpty() && !isRequesting">
  <h3>Oops! No restaurants found</h3>
  <p>You might have misspelled or try again!</p>
</div>
<div class="list-group restaurants" *ngIf="!isEmpty() && !isRequesting">
  <section class="animated fadeIn list-group-item list-group-item-action flex-column align-items-start" *ngFor="let restaurant of responseData.items"
    [class.active]="restaurant === selectedRestaurant">
    <div class="media d-flex w-100">
      <a class="media-left waves-light">
        <img class="rounded-circle" class="store-img" [class.res_logo]="!restaurant.getImage()" src="{{restaurant.getImage() || '/assets/img/placeholder.png'}}"
          alt="{{restaurant.name}}">
      </a>
      <div class="media-body">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="media-heading">
            <strong><a class="indigo-text" [routerLink]="['/restaurants',restaurant._id.str()]">{{restaurant.name}}</a></strong>
            <br/>
            <small class="text-muted cuisines">{{restaurant.getFormattedCuisines()}}</small>
          </h4>
          <div>
            <span class="badge green" *ngIf="!restaurant.isHoliday() && restaurant.isOpen()">Open</span>
            <span class="badge red" *ngIf="!restaurant.isHoliday() && restaurant.isClosed()">Closed</span>
            <span class="badge red" *ngIf="restaurant.isHoliday()">Holiday</span>
          </div>
        </div>
        <!--<p>
          <i class="fa fa-map-marker"></i> {{restaurant.address}}
        </p>-->
        <div class="text-muted timings">
          <small><i class="fa fa-hourglass-o"></i>
            {{restaurant.getTodayStoreTimings().getFormattedTime()}}
          </small>
        </div>
        <div class="flex-row">
          <a class="card-link" [routerLink]="['/restaurants',restaurant._id.str()]">View Menu</a>
        </div>
      </div>
    </div>
  </section>
</div>
