<section class="section feature-box text-center">
  <h1 class="section-heading">How foodbeazt works?</h1>

  <div class="row features-big">
        <!--First column-->
        <div class="col-md-4 mb-r">
            <i class="fa fa-search fa-3x blue-text"></i>
            <h4 class="feature-title">The Where</h4>
            <p class="grey-text">Browse menus from your favorite local restaurants.</p>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-4 mb-r">
            <i class="fa fa-check-square-o fa-3x green-text"></i>
            <h4 class="feature-title">The What</h4>
            <p class="grey-text">Select what you want and submit your order</p>
        </div>
        <!--/Second column-->

        <!--Third column-->
        <div class="col-md-4 mb-r">
            <i class="fa fa-truck fa-3x red-text"></i>
            <h4 class="feature-title">Delivery</h4>
            <p class="grey-text">Get delivery at your place and enjoy the meal!</p>
        </div>
        <!--/Third column-->
    </div>
</section>
