<div class="container-fluid px-0">
  <section class="row no-gutters">
    <div class="col-md-3 col-12 hidden-sm-down">
      <div class="col-md-3 blue-grey lighten-5 restaurants__filter">
        <app-filter-search [filterSubject]="filter"></app-filter-search>
      </div>
    </div>
    <div class="col-md-9 col-12">
      <app-my-spinner [isRunning]="isRequesting"></app-my-spinner>
      <div class="p-2 blue-grey lighten-5 hidden-sm-up">
        <app-filter-search [filterSubject]="filter"></app-filter-search>
      </div>

      <div class="p-3">
        <h3 class="h3-responsive font-weight-bold mb-1">Search results</h3>

        <div class="callout warning mb-1" *ngIf="!isRequesting && (!storeSearchData.searchText || storeSearchData.searchText.length < 3)">
          <p>Atleast enter 3 letters to begin the search!</p>
        </div>

        <div class="" *ngIf="storeSearchData.searchText && storeSearchData.searchText.length > 2 && !isRequesting">
          <app-restaurant [showProducts]="true" [responseData]="storeSearchResponse" [isRequesting]="isRequesting" (onPaginate)="searchRestaurants($event)"></app-restaurant>
        </div>
      </div>
    </div>
  </section>

</div>
