<div class="container-fluid">
  <div class="card card-block text-center">
    <div class="description">
      <h2 class="h2-responsive wow fadeIn">
        Eat better<br/> Feel better
      </h2>
      <h5 class="h5-responsive wow fadeIn">
        <br/>
        <p>Find the delicacy you want and savor the taste at your home without a hassle.</p>
      </h5>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-self-center">
        <form class="form">
          <div class="row">
            <div class="col-md-1 align-self-center">
              <i class="fa fa-search fa-2x"></i>
            </div>
            <div class="col-md-8">
              <div class="md-form">
                <input type="search" placeholder="Enter dish or restaurant name..." class="form-control search" name="searchText" [(ngModel)]="searchText"
                />
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary">Find Food</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-howitworks></app-howitworks>
</div>
