<div class="view hm-black-light">
  <div class="full-bg-img flex-center pattern-1 text-white">
    <ul style="margin-top:-10%;" class="px-2">
      <li>
        <h2 class="h2-responsive font-weight-bold wow fadeIn e-intro-text" data-wow-delay="0.25s">
          Eat better<br/> Feel better
        </h2>
        <h5 class="h5-responsive wow fadeIn" data-wow-delay="0.3s">
          <br/>
          <p>Find the delicacy you want and savor the taste at your home without a hassle.</p>
        </h5>
      </li>
      <li>
        <form class="form" (submit)="search(searchText)">
          <div class="row wow fadeIn" data-wow-delay="0.4s">
            <div class="col-md-8">
              <div class="md-form">
                <input type="search" id="searchText" placeholder="Enter dish or restaurant name..." class="form-control search" name="searchText"
                  [(ngModel)]="searchText" />
                <!--<label for="searchText">Search by dish, restaurant</label>-->
              </div>
            </div>
            <div class="col-md-4">
              <div class="md-form">
                <button type="submit" class="btn btn-lg btn-danger waves-effect waves-light">Find Food</button>
              </div>
            </div>
          </div>
        </form>
      </li>
      <li class="payment wow fadeIn" data-wow-delay="0.4s">
        <i class="fa fa-cc-visa fa-2x" aria-hidden="true" title="Visa"></i>
        <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true" title="Mastercard"></i>
        <i class="fa fa-money fa-2x" aria-hidden="true" title="Cash on Delivery"></i>
      </li>
    </ul>
  </div>
</div>
<app-howitworks></app-howitworks>
<app-featured-products></app-featured-products>
