.search__container{
  border: 1px solid red;
}

.view {
  background: url(/assets/img/bg.jpg) no-repeat center center;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-control {
  color: white!important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  0.85;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  0.85;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
